
{% extends 'DistribuceTiskuBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Přidat uživatele</h1>
    </header>

    {% for flashMessage in app.session.flashbag.get('vlozeni') %}
    <div class="blogger-notice">
    {{ flashMessage }}
    </div>
    {% endfor %}

    <form action="{{ path('_customeradd') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.jmeno) }}
        {{ form_row(form.prijmeni) }}
        {{ form_row(form.titul) }}
        {{ form_row(form.adresa) }}
        {{ form_row(form.psc) }}
        {{ form_row(form.prijmeni) }}
        {{ form_row(form.bankovniSpojeni) }}
        {{ form_row(form.telefon) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
{% endblock %}